* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f3f4f6; 
}

.fondo {
    background-color: ##FEF2F2;
}

.alta-turno-container {
    background-color: white;
}

.color {
    background-color: #FEF2F2;
}